<header class="d-flex align-items-center pb-3 mb-5 border-bottom justify-content-between">
  <div class='d-flex align-items-center'>
<img src=<%= @athlete.profile_photo_url %> style="border-radius: 50%; object-fit: cover; width: 60px" />
<h1 style="margin-bottom: 0px; margin-left: 10px"><%= @athlete.name %></h1>
  </div>
  <div>
<h1 style="margin-bottom: 0px;"><%= @region.name %></h1>
  </div>
</header>

<div id="map" style="height: 400px"></div>

<script>
  var map = L.map('map').fitBounds(<%= @summary.map {|x| [x.lat, x.lon] }.to_json %>);
   // setView([51.505, -0.09], 13);
  L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1IjoieGF2aWVyc2hheSIsImEiOiJja3dpZTE0b3IxN29mMm5xYjhjZzhrdzdqIn0.4bYtnMoe9RITuMFJePSgMg'
  }).addTo(map);
  var summitedIcon = L.icon({
    iconUrl: "<%= asset_path("images/mountain.png") %>",
    iconSize: [60, 50],
    className: 'map-icon-summited'
  });
  var unsummitedIcon = L.icon({
    iconUrl: "<%= asset_path("images/mountain-grey.png") %>",
    iconSize: [60, 50],
    className: 'map-icon-unsummited'
  });
  <% @summary.each do |x| %>
    L.marker([<%= x.lat %>, <%= x.lon %>], {
      icon: <%= x.activity_id ? "summitedIcon" : "unsummitedIcon" %>,
      zIndexOffset: <%= x.activity_id ? 1000 : 0 %>
    })
      .bindPopup("<%= "%s, %im" % [x.name, x.elevation] %>")
      .addTo(map);
  <% end %>
</script>

<p  />
<table class='table table-sm'>
  <tr>
    <td class='text-center' style='width: 50px'>#</th>
    <th class='text-center' style='width: 50px'>Elevation</th>
    <th>Name</th>
    <th>Most Recent Activity</th>
    <th class='text-center' style='width: 150px'>Date</th>
    <th class='text-center' style='width: 50px'>Summits</th>
  </tr>
<% @summary.each.with_index do |rp, i| %>
  <tr>
    <td class='text-center'><%= i + 1 %></td>
    <td class='text-center'><%= rp.elevation %></td>
    <td><%= rp.name %></td>
    <% if rp.activity_id %>
      <td><%= link_to rp.activity_name, "https://www.strava.com/activities/%i" % rp.activity_id %></td>
      <td class='text-center'><%= rp.started_at.strftime("%-d %b, %Y") %></td>
      <td class='text-center'><%= rp.summit_count %>
    <% else %>
      <td></td>
      <td></td>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>

<footer class='card'>
  <div class='card-body'>
    <div class='card-title'>Other Regions<div>
    <ul>
    <% @regions.sort_by(&:name).each do |region| %>
      <li><%= link_to region.name, "/athlete/%i/region/%i" % [@athlete.id, region.id] %></li>
    <% end %>
    </ul>
  </div>
</footer>
