<div class='container'>
<header class="d-flex align-items-center pb-3 mb-5 border-bottom justify-content-between">
  <div class='d-flex align-items-center'>
<img src=<%= @athlete.profile_photo_url %> style="border-radius: 50%; object-fit: cover; width: 60px" />
<h1 style="margin-bottom: 0px; margin-left: 10px"><%= @athlete.name %></h1>
  </div>
  <div>
  <div>
    <%= button_to "Logout", '/logout', class: 'btn btn-light' %>
  </div>
</header>

<div class='row'>
  <div class='col-md-6'>
<table class='table'>
  <tr>
    <th>Activities</th>
    <td><%= @athlete.activities.size %></td>
  </tr>
  <tr>
    <th>Oldest Synced</th>
    <td><%= @athlete.oldest_activity_at %></td>
  </tr>
</table>
  </div>
</div>

<footer class='card'>
  <div class='card-body'>
    <div class='card-title'>Regions<div>
    <ul>
    <% @regions.sort_by(&:name).each do |region| %>
      <li><%= link_to region.name, "/athlete/%i/region/%i" % [@athlete.id, region.id] %></li>
    <% end %>
    </ul>
  </div>
</footer>
    </div>
